<app-header></app-header>
<div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px; height: 100vh;">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span>Subjects</span>
    <button class="btn btn-sm btn-success" (click)="addSubject()">+</button>
  </h4>

  <!-- Input: nazwa przedmiotu -->
  <div class="mb-2">
    <input [(ngModel)]="newSubjectName" type="text" class="form-control form-control-sm" placeholder="Subject name">
  </div>

  <!-- Input: typ przedmiotu -->
  <div class="mb-3">
    <input [(ngModel)]="newSubjectType" type="text" class="form-control form-control-sm" placeholder="Subject type">
  </div>

  <!-- Lista subjectów -->
  <ul class="nav nav-pills flex-column mb-auto">
    @if (subjects() && subjects()!.length > 0) {
      @for (subject of subjects()!; track subject.name) {
        <li class="nav-item">
          <a href="#" class="nav-link text-white">
            <span class="fs-4 text-white">{{ subject.name }} </span>
            <span class="text-secondary">({{ subject.subjectType }})</span>
          </a>
        </li>
      }
    } @else {
      <li class="nav-item">
        <span class="text-white">Brak przedmiotów.</span>
      </li>
    }
  </ul>
</div>

<app-footer></app-footer>